.app {
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--color-gray);
}

.todos {
  margin: 0 auto;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  background-color: var(--color-white);
  padding: 40px;
  border-radius: 5px;
}

.todos__form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.todos__container {
  display: flex;
  width: 100%;
  padding-left: 15px;
}

.todos__submit {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.todos__title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.todos__input {
  border-bottom: 1px solid var(--border-input-color);
}

.todos__input:hover {
  border-bottom-color: var(--color-black);
}

.todos__input:focus {
  border-bottom-color: var(--color-black);
}