:root {
  --color-gray: #eee;
  --color-black: #000;
  --color-green: #61ff61;
  --color-red: #f14f4f;
  --color-white: #fff;
  --border-input-color: #cbcbcb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  outline: none;
  padding: 15px;
  cursor: pointer;
  margin: 0;
}

.button:hover {
  opacity: .8;
}

.input {
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  padding: 15px 0;
  background-color: transparent;
}